/* Default or shared section */

.test{
    background-color: white;
    width:auto;
    height: 200px;
}

body{
    margin: 0px;
    font-family:'lato';
}

.default-title{
    color: #272727;
    font-family: Lato;
    font-weight: 800;
    font-size: 30px;
    text-align: center;
}
.default-para{
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}
.default-btn {
    background-color: #E55473;
    color: #FFFFFF;
    padding: 20px 43px;
    border-radius: 10px;
    border: none;
    font-weight: 18px;
}
.default-color{
    color: #E55473;
}
.default-container {
    margin: 75px 150px;
}

/* header section */
.banner{
    background-color: rgba(229, 84, 115, 0.10);
    display:flex;
    justify-content: space-around;
}
.banner-content{
    /* width: 500%; */
    padding: 100px 150px;
}

.banner-title {
    font-size: 50px;
    
}

.header img{

}

/* Body Section */

.hot-deal {
    background-color: rgba(229, 84, 115, 0.05);
    display: flex;
    justify-content: space-around;
}
.hot-deal-content{
    padding: 100px 150px;
}
.hot-deal h3 {
    
}
.hot-deal p {
    text-align: center;
}

/* Featured Section */
.featured-container{
    margin: 75px 150px;
    /* background-color: #111010; */
}
.featured-img-container {
    display: flex;
    justify-content: space-around;
    margin-top: 75px;
}
.featured-img {
    text-align: center;
    width: 300px;
    border-radius: 300px 300px 0px 0px;
}
.featured-img>img{
    width: 200px;
    margin-top: 0px;
    padding: 50px;
}
.featured-img>p{
    /* text-align: center; */
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 0px;
}

/* support */
.support-container {
    background-color: rgba(39, 39, 39, 0.05);
    border-radius: 5px;
    display: flex;
    padding: 50px;
}
.support-content{
    width: 330px;
    text-align: center;
}

/* Social Media  */
.social-media{
    /* text-align: center; */
    margin: 75px 150px;
}
.insta-image{
    display: flex;
    justify-content: space-around;
}
.insta-image>img{
    width: 250px;
}

/* Subscription Section */
.subscription{
    margin: 75px 150px;
    background-image: url('../images/Rectangle\ 9.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding: 75px 100px;
}
.form {
    display: flex;
    align-items: center;
    padding: 20px 100px;
}
#email {
    margin: 10px;
    width: 450px;
    height: 52px;
    border: none;
    border-radius: 5px;
    padding-left: 20px;
}
/* Footer */

footer {
    background-color: #111010;
    text-align: center;
    padding: 100px 0px;
}
footer>p {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}
.copy-rights {
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-weight:400;
}